<% provide :title, t("about.title") %>
<h1><%= t "about.title" %></h1>
<p>
  <%= t "about.p1" %> <%= link_to t("about.link.link1"), "http://www.railstutorial.org/" %>
  <%= t "about.p2" %>
  <%= link_to t("about.link.link2"), "http://www.railstutorial.org/book"  %> <%= t "about.p3" %>
  <%= link_to t("about.link.link3"), "http://screencasts.railstutorial.org/" %>
  <%= t "about.p4" %>
  <%= link_to t("about.link.link4"), "http://rubyonrails.org/" %>.
  <%= t "about.p5" %>
</p>
