<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".p1" %> <%= link_to t(".link.link1"), "http://www.railstutorial.org/" %>
  <%= t ".p2" %>
  <%= link_to t(".link.link2"), "http://www.railstutorial.org/book"  %> <%= t ".p3" %>
  <%= link_to t(".link.link3"), "http://screencasts.railstutorial.org/" %>
  <%= t ".p4" %>
  <%= link_to t(".link.link4"), "http://rubyonrails.org/" %>.
  <%= t ".p5" %>
</p>
