<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".link1"), "http://www.railstutorial.org/help" %>.
  <%= t ".p2" %>
  <%= link_to t(".link2"), "http://www.railstutorial.org/book" %>.
</p>
