<% provide :title, t("help.title") %>
<h1><%= t "help.title" %></h1>
<p>
  <%= t "help.p1" %>
  <%= link_to t("help.link1"), "http://www.railstutorial.org/help" %>.
  <%= t "help.p2" %>
  <%= link_to t("help.link2"), "http://www.railstutorial.org/book" %>.
</p>
