<h1><%= t ".h1" %></h1>

<p><%= t ".p1" %>:</p>

<%= link_to t(".link"),
  edit_password_reset_url(@user.reset_token,
  email: @user.email, locale: @locale) %>

<p><%= t ".p2" %></p>

<p>
<%= t ".p3" %>
</p>
