<% provide :title, t("user.title") %>
<h1><%= t "user.h1" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @user, url: signup_path do |f| %>

      <%= render "shared/error_messages", user: f.object %>
      <%= f.label :firstname, t("signup.firstname") %>
      <%= f.text_field :firstname, class: "form-control" %>

      <%= f.label :lastname, t("signup.lastname") %>
      <%= f.text_field :lastname, class: "form-control" %>

      <%= f.label :displayname, t("signup.displayname") %>
      <%= f.text_field :displayname, class: "form-control" %>

      <%= f.label :age, t("signup.age") %>
      <%= f.number_field :age %>

      <%= f.label :gender, t("signup.sex.gender") %>
      <%= f.select :gender, @gender, class: "form-control" %>

      <%= f.label :email, t("signup.email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, t("signup.password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t("signup.confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t("user.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
