<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> <%= t "layouttitle" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <%= link_to t("lang.en"), {locale: :en} %>
    <%= link_to t("lang.vi"), {locale: :vi} %>
  </body>
</html>
